body {
   background:linear-gradient(-60deg,#000,#333,#000,#666,#333 70%);	
}

.led {
   width: 1em;
   height: 1em;
   border-radius: 50%;
   display: inline-block;
}

.led.green {
   background-color: rgba(150, 255, 0, 1);
   box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}

.led.red {
   background-color: #F00;
   box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}

.devices {
   list-style-type: none;
}

.devices .device-name {
   margin-left: 1em;
   font-size: 1em;
}

#user-points {
   font-size: 1.5em;
   color: white;
}

#quizz {
   position: absolute;
   top: 25px;
   left: 50%;
   transform: translate(-50%, 0);

   height: 175px;
   width: 750px;
}

#midi-devices {
   width: 500px;

   position: absolute;
   top: 550px;
   left: 50%;
   transform: translate(-50%, 0);

   background-color: white;
}

#timer-container {
   height: 80px;
   width: 80px;

   position: absolute;
   left: 1%;
   top: 0.5em;

   font-size: 80px;

   border-radius: 15px;
   border: 3px grey solid;
   box-shadow: rgba(0, 0, 0, 0.7) 5px 10px 10px 4px;

   background-color: white;
}


.feedback {
   position: absolute;
   width: 102%;
   height: 102%;
   top: -1%;
   left: -1%;
}

.feedback.none {
   opacity: 1;
}

.feedback.correct {
   opacity: 0;
   box-shadow: #89FF00 0px 0px 15px 4px;
   transition: opacity .75s ease-in-out;
   -moz-transition: opacity .75s ease-in-out;
   -webkit-transition: opacity .75s ease-in-out;
}

.feedback.wrong {
   opacity: 0;
   box-shadow: #FF1200 0px 0px 15px 6px;
   transition: opacity .75s ease-in-out;
   -moz-transition: opacity .75s ease-in-out;
   -webkit-transition: opacity .75s ease-in-out;
}

#stages {
   position: absolute;
   left: 1%;
   top: 10em;
   transform: translate(-1%, 0);
   width: 70px;

   border: 2px grey solid;
   box-shadow: rgba(0, 0, 0, 0.7) 5px 10px 10px 4px;
   border-radius: 10%;
}


.stage {
   height: 60px;
   width: 60px;

   position: relative;
   left: 50%;
   transform: translate(-50%, 0);

   margin: 7px 0 7px 0;
   border-radius: 50%;
   border: 2px solid black;
   box-shadow: rgba(0, 0, 0, 0.7) 1px 2px 2px 1px;
   background-color: grey;

   color: black;
   text-align: center;
   font-size: 2em;
   line-height: 60px; 

   cursor: pointer;
}
