body {
   background:linear-gradient(-60deg,#000,#333,#000,#666,#333 70%);	
}

.led {
   width: 1em;
   height: 1em;
   border-radius: 50%;
   display: inline-block;
}

.led.green {
   background-color: rgba(150, 255, 0, 1);
   box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}

.led.red {
   background-color: #F00;
   box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}

.devices {
   list-style-type: none;
}

.devices .device-name {
   margin-left: 1em;
   font-size: 1em;
}

.question-box {
   border-radius: 50px;
   border: 5px grey solid;
   box-shadow: rgba(0, 0, 0, 0.7) 5px 10px 10px 4px;
   background-color: white;
}

#user-points {
   font-size: 2em;
   color: white;
}

#keyboard {
   position: absolute;
   top: 225px;
   left: 50%;
   transform: translate(-50%, 0);

   height: 300px;
   width: 700px;
   border: 5px solid grey;
   background-color: grey;
}

#midi-devices {
   width: 500px;

   position: absolute;
   top: 550px;
   left: 50%;
   transform: translate(-50%, 0);

   background-color: white;
}

#asked-note-symbol {
   position: absolute;
   left: 45%;
}


#asked-note-name {
   height: 150px;
   width: 150px;
   line-height: 150px; 
   position: absolute;
   left: 35%;
}

#asked-note-name > span  {
   color: black;
   font-size: 3em;
   text-align: center;
   display: inline-block;
   width: 100%;
   font-family: "Times New Roman", Times, serif;
   text-shadow: 2px 2px 8px #1144AA;
}

#timer-container {
   height: 150px;
   width: 150px;

   position: absolute;
   left: 55%;

   font-size: 150px;

   border-radius: 50px;
   border: 5px grey solid;
   box-shadow: rgba(0, 0, 0, 0.7) 5px 10px 10px 4px;

   background-color: white;
}


