body {
   background:linear-gradient(-60deg,#000,#333,#000,#666,#333 70%);	
}

.led {
   width: 1em;
   height: 1em;
   border-radius: 50%;
   display: inline-block;
}

.led.green {
   background-color: rgba(150, 255, 0, 1);
   box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}

.led.red {
   background-color: #F00;
   box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}

.devices {
   list-style-type: none;
}

.devices .device-name {
   margin-left: 1em;
   font-size: 1em;
}

.question-box {
   height: 150px;
   width: 150px;
   border-radius: 50px;
   border: 5px grey solid;
   box-shadow: rgba(0, 0, 0, 0.7) 5px 10px 10px 4px;
   line-height: 150px; 
   background-color: white;
}

#user-points {
   font-size: 2em;
   color: white;
}

#quizz {
   position: absolute;
   top: 25px;
   left: 50%;
   transform: translate(-50%, 0);

   height: 175px;
   width: 750px;
//   border: 1px solid white;
//   border-radius: 20px;
}

#keyboard {
   position: absolute;
   top: 225px;
   left: 50%;
   transform: translate(-50%, 0);

   height: 300px;
   width: 700px;
   border: 5px solid grey;
   background-color: grey;
}

#keyboard > .feedback {
   position: absolute;
   width: 102%;
   height: 102%;
   top: -1%;
   left: -1%;
}

#keyboard > .feedback.none {
   opacity: 1;
}

#keyboard > .feedback.correct {
   opacity: 0;
   box-shadow: #89FF00 0px 0px 15px 4px;
   transition: opacity .75s ease-in-out;
   -moz-transition: opacity .75s ease-in-out;
   -webkit-transition: opacity .75s ease-in-out;
}

#keyboard > .feedback.wrong {
   opacity: 0;
   box-shadow: #FF1200 0px 0px 15px 6px;
   transition: opacity .75s ease-in-out;
   -moz-transition: opacity .75s ease-in-out;
   -webkit-transition: opacity .75s ease-in-out;
}



#midi-devices {
   width: 500px;

   position: absolute;
   top: 550px;
   left: 50%;
   transform: translate(-50%, 0);

   background-color: white;
}

#asked-note-symbol {
   position: absolute;
   left: 50%;
   transform: translate(-50%, 0);
}

#asked-note-name {
   position: absolute;
   left: 0%;
}

.question-box > span  {
   color: black;
   font-size: 3em;
   text-align: center;
   display: inline-block;
   width: 100%;
   font-family: "Times New Roman", Times, serif;
   text-shadow: 2px 2px 8px #1144AA;
}

#timer-container {
   height: 150px;
   width: 150px;

   position: absolute;
   right: 0%;

   font-size: 150px;

   border-radius: 50px;
   border: 5px grey solid;
   box-shadow: rgba(0, 0, 0, 0.7) 5px 10px 10px 4px;

   background-color: white;
}


#stages {
   position: absolute;
   left: 2%;
   top: 40%;
   transform: translate(-2%, -50%);
   height: 300px;
   width: 100px;

   border: 2px grey solid;
   box-shadow: rgba(0, 0, 0, 0.7) 5px 10px 10px 4px;
   border-radius: 10%;
}


.stage {
   height: 75px;
   width: 75px;

   position: relative;
   left: 50%;
   transform: translate(-50%, 0);

   margin-top: 5px;
   border-radius: 50%;
   border: 2px solid black;
   box-shadow: rgba(0, 0, 0, 0.7) 1px 2px 2px 1px;
   background-color: grey;

   color: black;
   text-align: center;
   font-size: 2em;
   line-height: 75px; 

   cursor: pointer;
}
