.octave {
   position: relative;
   display: inline-block;
   clear: both;
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
}

.key {
   cursor: pointer;
}

.white {
   float: left;
   width: 14.28%;
   height: 100%;

   border: 1px solid #626262;
   box-sizing: border-box;

   border-radius: 0 0 8% 8%; 
   background-image: -webkit-radial-gradient(center bottom, #FFFFFF 90%, #CCCCCC 100%);
}

.black {
   width: 7%;
   height: 60%;

   z-index: 100;
   position: absolute;

   background:linear-gradient(-20deg,#333,#000,#333);
   border-bottom: 2px solid #000;
   border-left: 2px solid #000;
   border-right: 2px solid #000;
   border-radius: 0 0 1% 1%; 
   border-top: 0px;
   box-shadow: 0 -0.5rem 1rem 9px #303030 inset, 0 -1rem #F7F7F7 inset;
}

.black#Cs {
   margin-left: 11%;
}

.black#Ds {
   margin-left: 25%;
}

.black#Fs {
   margin-left: 53%;
}

.black#Gs {
   margin-left: 68%;
}

.black#As {
   margin-left: 82%;
}


.keyname {
   position: relative;
   text-align: center;
}

.white .keyname {
   top: 100%;
   transform: translate(0, -2em);

   font-size: 1em;
   color: black;
}

.black .keyname {
   top: 100%;
   transform: translate(0, -6em);

   font-size: 0.75em;
   color: white;
}


.white.pressed {
   border: 1px solid #343434;
   background-image: -gradient(center bottom , #FFFFFF 90%, #CCCCCC 100%);
   box-shadow: 0 -0.4rem 2rem -0.25rem #272927 inset;
}


.black.pressed {
   border: 1px solid #CECECE;
   border-top: 1px solid #626262;
   box-shadow: 0 0 0.3rem 0.3rem #303030 inset, 0 -0.25rem #F7F7F7 inset;
}


.white.marked {
   background: #b0e0e6;
}

.black.marked {
   background: #ff87c3;
}
